body{
    background-color: #444;
    text-align: center;
}



h1, h2, h3{
    color: #ffffff;
    line-height: 1rem;
    font-style: oblique;
}

h2 {
    font-size: 30px;
    font-style: normal;
}

a{
    text-decoration: none;
    font-size: 20px;
    color: yellow;
    letter-spacing: 10px;
    word-spacing: 25px;
    text-transform: uppercase;
}

.formatting{
    font-size: 25px;
    line-height: 2em;
    color:white;
}

.borderImg{
    border: 10px dashed;
}

ul li{
    color: white;
    font-size: 20px;
}

ul > li{
    color: yellow;
}